{{#if errors}}
    <div class="alert alert-danger">
        {{#each errors}}
            <h1>{{this.msg}}</h1>
        {{/each}}
    </div>
    <form action="/doctor" method="get">
        <input type="submit" class="alert alert-danger" value="GO BACK TO PATIENT REGISTRATION">
    </form>
{{/if}}