<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/home">
                    <img src="css/A Better You.png" id="brand-logo">
                </a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input placeholder="Ingredients(e.g. chicken)" type="text" class="form-control" id="user-input">
                </div>
                {{!--
                <button type="submit" class="btn btn-default">Submit</button> --}}
                <button class="search btn btn-default">Search for Recipes</button>
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown-select">
                    <select class="form-control form-control-lg" id="diet-factor">
                        <option class="diet-option">Balanced</option>
                        {{!--
                        <option class="diet-option">High-Fiber</option> --}}
                        <option class="diet-option">High-Protein</option>
                        <option class="diet-option">Low-Carb</option>
                        <option class="diet-option">Low-Fat</option>
                        {{!--
                        <option class="diet-option">Low-Sodium</option> --}}
                    </select>
                </li>
                <li class="dropdown-select">
                    <select class="form-control form-control-lg" id="diet-restriction">
                        {{!--
                        <option class="restrict-option">Crustacean-Free</option> --}} {{!--
                        <option class="restrict-option">Dairy-Free</option> --}}{{!--
                        <option class="restrict-option">Kosher</option> --}} {{!--
                        <option class="restrict-option">Gluten-Free</option>
                        <option class="restrict-option">Low-Sugar</option>
                        <option class="restrict-option">Paleo</option> --}}
                        <option class="restrict-option">Peanut-free</option>
                        {{!--
                        <option class="restrict-option">Pescatarian</option> --}}
                        <option class="restrict-option">Vegan</option>
                        <option class="restrict-option">Vegetarian</option>
                        <option class="restrict-option">Sugar-conscious</option>
                        <option class="restrict-option">Alcohol-free</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    {{!--
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/profile">User Login</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/doctor">Doctor Login</a>
        </div>
    </div> --}} {{#if errors}}
    <div class="alert alert-danger">
        {{#each errors}}
        <h1>{{this.msg}}</h1>
        {{/each}}
    </div>
    <form action="/doctor" method="get">
        <input type="submit" class="alert alert-danger" value="GO BACK TO PATIENT REGISTRATION">
    </form>
    {{/if}}
    <div class="row">
        <div class="col-md-7">
            <h1>WELCOME TO A BETTER YOU!</h1>
            <h2>GUEST SEARCH</h2>
        </div>
        <div class="col-md-5">
            <form action="/profile" method="post">
                <div class="form-group row patient-form">
                    <label for="inputUserName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Patient Name" name="patient_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary patient-login" value="Submit" href="/profile">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-5 doctor-form">
                <form action="/doctor" method="post">
                    <div class="form-group row">
                        <label for="inputUserName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="doctor-name" placeholder="Doctor Name" name="doctor_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="doctor-password" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" value="Submit">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-4" id="recipe-area">
        <div class="panel panel-default" style="display:none" id="panel-slider">
            <div class="panel-body">
                <!-- Where the carousel goes -->
                <div id="sliders" class="slide carousel" data-ride="carousel" data-pause="true">
                    <!-- Carousel slides -->
                    <div id="carousel" class="carousel carousel-inner">
                        <ol class='carousel-indicators'>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox" id="item-list">
                            <div class="item active" id="item-active">
                            </div>
                            <!-- <div class="item" id="item-one">
            
                                                </div> -->
                        </div>
                    </div>
                    <!-- Carosel Controls -->
                    <div id="controls">
                        <a class="left" href="#sliders" data-slide="prev" title="Previous Slide">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <!-- <i id="pause" class="fa fa-pause" title="Pause"></i>
                                        <i id="play" class="fa fa-play" title="Play"></i> -->
                        <a class="right" href="#sliders" data-slide="next" title="Next Slide">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/searchRecipe.js" type="text/javascript"></script>