<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/home">Go Home</a>
        </div>
    </div>
    <h1>PATIENT LIST</h1>
    <div class="row">
        <div class="col-md-12 panel panel-default patient-info">
            <table style="width:100%">
                <tr>
                    <th>Patient Name</th>
                    <th>Risk Factor</th>
                    <th>Diet Recommendation</th>
                    <th>Allergies/Restrictions</th>
                    <th>Favorite Recipe</th>
                </tr>
                {{#each patients}}
                    {{> patients/patient-block}}
                {{/each}}
            </table>
        </div>
    </div>
    {{!-- </div> --}}
    <div class="col-md-6 panel panel-default">
        <div class="panel panel-default error-info">
            {{#if errors}}
                <div class="alert alert-danger">
                    {{#each errors}}
                        {{> errors/error-block}}
                    {{/each}}
                </div>
                <form action="/doctor/form" method="get">
                    <input type="submit" class="alert alert-danger" value="RETURN TO FORM">
                </form>
            {{/if}}
        </div>
        <br>
        <h2>ADD A PATIENT</h2>
        <form id="patient-input" method="post" action="/api/patient">
            <div class="form-group">
                <label for="patient-name">Patient Name:</label>
                <input placeholder="Name" type="text" class="form-control" id="patient-name" name="patient_name">
                <br>
                <label for="risk_factor" name="risk_factor">Risk Factor:</label>
                <select class="form-control form-control-lg" id="risk_factor" name="risk_factor">
                    <option class="risk-option">Healthy</option>
                    <option class="risk-option">High Blood Pressure</option>
                    <option class="risk-option">High Cholesterol</option>
                    <option class="risk-option">Diabetes</option>
                    <option class="risk-option">Obesity</option>
                    <option class="risk-option">Malnourishment</option>
                </select>
                <br>
                <label for="diet-recommendation">Diet Recommendation:</label>
                <select class="form-control form-control-lg" id="diet_recommendation" name="diet_recommendation">
                    <option class="diet-option">Balanced</option>
                    <option class="diet-option">High-Fiber</option>
                    <option class="diet-option">High-Protein</option>
                    <option class="diet-option">Low-Carb</option>
                    <option class="diet-option">Low-Fat</option>
                    <option class="diet-option">Low-Sodium</option>
                </select>
                <br>
                <label for="diet-restriction">Diet Restriction:</label>
                <select class="form-control form-control-lg" id="diet-restriction" name="diet_restriction">
                    <option class="restrict-option">Crustacean-Free</option>
                    <option class="restrict-option">Dairy-Free</option>
                    <option class="restrict-option">Kosher</option>
                    <option class="restrict-option">Gluten-Free</option>
                    <option class="restrict-option">Low-Sugar</option>
                    <option class="restrict-option">Paleo</option>
                    <option class="restrict-option">Peanut-free</option>
                    <option class="restrict-option">Pescatarian</option>
                    <option class="restrict-option">Vegan</option>
                </select>
                <br>
                <input type="submit" value="Add Patient">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="patient-container">
        </div>
    </div>
</div>
</div>