<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/home">
                    <img src="css/A Better You.png" id="brand-logo">
                </a>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input placeholder="Ingredients(e.g. chicken)" type="text" class="form-control" id="user-input">
                </div>
                <button class="search btn btn-default">Search for Recipes</button>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
    </div>
    <h1>USER INFO</h1>
    <div class="row">
        <div class="col-md-12 panel panel-default patient-info">
            <table style="width:100%">
                <tr>
                    <th>Patient Name</th>
                    <th>Risk Factor</th>
                    <th>Diet Recommendation</th>
                    <th>Allergies/Restrictions</th>
                </tr>
                {{#each patients}} {{> users/user-block}} {{/each}}
            </table>
        </div>
        {{!-- <div class="col-md-4 panel panel-default patient-info">
            {{#each patients}}
                {{#unless favorite}}
                    {{> recipes/recipe-block}}
                {{/unless}}
            {{/each}}
        </div> --}}
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="patient-info"></div>
        </div>
        <div class="col-md-8" id="recipe-area">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ploty" id="tester">
        </div>
        <div class="col-md-4" id="recipe-area">
            <div class="panel panel-default" style="display:none" id="panel-slider">
                <div class="panel-body">
                    <!-- Where the carousel goes -->
                    <div id="sliders" class="slide carousel" data-ride="carousel" data-pause="true">
                        <!-- Carousel slides -->
                        <div id="carousel" class="carousel carousel-inner">
                            <ol class='carousel-indicators'>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox" id="item-list">
                                <div class="item active" id="item-active">
                                </div>
                                <!-- <div class="item" id="item-one">
                                 </div> -->
                            </div>
                        </div>
                        <!-- Carosel Controls -->
                        <div id="controls">
                            <a class="left" href="#sliders" data-slide="prev" title="Previous Slide">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <!-- <i id="pause" class="fa fa-pause" title="Pause"></i>
                                <i id="play" class="fa fa-play" title="Play"></i> -->
                            <a class="right" href="#sliders" data-slide="next" title="Next Slide">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12" id="tester-2">
        </div>
    </div>
    <div class="row">
    </div>
</div>
<!-- Modal -->
<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <img src="css/A Better You.png" id="brand-logo">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">
                    A BETTER YOU
                </h2>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close">close</button>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid footer-place">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-footer">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-footer">
                    <a href="/home">
                        <img src="/css/A Better You.png" id="footer-logo">
                    </a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</footer>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="css/style.css">
<script src="js/user-info.js" type="text/javascript"></script>