table {
    font-family: arial, sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}

td, th {
    font-weight: bolder;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

td{
   color: white;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

.dropdown-select {
    padding: 8px;
    /* padding-bottom: 19.5px; */
}

body {
    /* background-image: url("test.jpg"); */
    background-image: url("test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#brand-logo {
    height: 61px;
    width: 120px;
}

.container-fluid {
    padding-left: 0;
}

.panel-default {
    font-size: 20px;
    background: rgba(44, 62, 79, 0.2);
    padding: 0;

}

.ploty {
   height: 750px;
    width: 750px; 
}

 .svg-container {
    background: rgba(44, 62, 79, 0.2);
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-weight: bolder;
    font-size: 20px;

 }

#doctor-panel {
    padding: 5;
}

.patient-form {
    display: none;
}

.doctor-form {
    display: none;
}

.please-login {
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

#copyright {
    color: whitesmoke;
    text-align: right;

}

#footer-logo {
    float: right;
    height: 61px;
    width: 120px;
}

.footer-place {
    padding-right: 0;
}

.patient-container {
    padding-bottom: 80px;
}